@charset "UTF-8";

/* region 清浮动 */
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.clear-fix {
    zoom: 1;
}
/* endregion */

/* region 每一行主要内容 */
.row {
    width: 1099px;
    margin: 0 auto;
}

.site-nav a {
    color: #ccc;
}

 ul {
    list-style: none;
}

 a {
     color: #333333;
     text-decoration: none;
 }

 a:hover {
     color: #b4a078;
 }

 .left {
     float: left;
 }

 .right {
     float: right;
 }