@charset "UTF-8";


.site-nav {
    background-color: #333;
    height: 36px;
    line-height: 36px;
}


.site-nav a {
    color: #ccc;
    font-size: 12px;
}

.site-nav a:hover {
    color: #fff;
}

.site-nav .slogn {
    float: left;
    margin-right: 36px;
}

.site-nav .notice-list {
    float: left;
    height: 36px;
    padding-left: 26px;
    background: url(../images/notice-icon.gif) no-repeat left center;
    overflow: hidden;
}

.site-nav .notice-list ul {
    position: relative;
    top: 0;
}

.site-nav .notice-list li {
    height: 36px;
}

.site-nav .notice-list a {
    vertical-align: top;
    text-decoration: underline;
}

.site-nav .notice-list a:hover {
    text-decoration: none;
}

.site-nav .item,.divider {
    float: left;
}

.site-nav .login {
    margin-right: 20px;
}

.site-nav .divider {
    width: 1px;
    height: 16px;
    background-color: #5c5c5c;
    margin: 10px 10px 0;
}


/* region 功能导航 */
.site-func {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.25);
}

.site-func .row {
    height: 204px;
}

.site-func .logo{
    position: absolute;
    width: 180px;
    height: 60px;
    left: 0;
    right: 0;
    margin: 50px auto 0;
    /*background:  url(../images/component.png) 0 -146px no-repeat;*/
}

.site-func .logo a{
    height: 60px;
    width: 80px;
    font-size: 0;
}

.site-func .search-box {
    position: absolute;
    right: 60px;
    top: 76px;

    width: 240px;
    height: 30px;
    background-color: #ff0;
}

.site-func .search-box input {
    width: 200px;
    height: 30px;

    border: none;
    outline: none;

    border-bottom: 1px solid #000;
}

.site-func .search-box .search-icon {
    position: absolute;
    background: url(../images/component.png) 0 -291px no-repeat;

    width: 20px;
    height: 20px;

    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;

    /*letf + margin-left + widh + margin-right + right*/

    /*top + margin-top + height + margin-bottom + bottom*/
}

.site-func .shopcar {
    position: absolute;
    right: 9px;
    top: 65px;

    width: 34px;
    height: 32px;
    /*background-color: #f00;*/
}

.site-func .shopcar .car {
    position: absolute;
    background: url(../images/component.png) 0 -113px no-repeat;
    left: 0;
    bottom: 0;

    width: 23px;
    height: 23px;
}

.site-func .shopcar .count {
    position: absolute;
    background: url(../images/component.png) 0 -51px no-repeat;
    top: 0;
    right: 0;

    line-height: 19px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 19px;
    height: 19px;
}

.site-func .tab-nav {
    position: absolute;
    left: 30px;
    bottom: 0;
}

.site-func .tab-nav .item {
    float: left;
    height: 35px;
    margin: 0 24px;
    font-weight: 700;
    font-size: 14px;
}

.site-func .tab-nav .item a {
    display: block;
    padding-bottom: 5px;
}

.site-func .tab-nav .item:hover a,
.site-func .tab-nav .item.active a {
    color: #b4a078;
    border-bottom: 3px solid #b4a078;
}

/* enregion 功能导航 */



/* region 内容部分 */

.slider {
    background-color: #f00;
}

.slider .image-list {
    position: relative;
    height: 420px;
    left: -960px;
    margin-left: 50%;
}

.slider .image-list li {
    position: absolute;
    left: 0;
    top: 0;
}

/* enregion 内容部分*/

